Repository CroceRossaItaliana/jorvik, pull requests merged in 2019-10, with the labels that each got.

#886 GAIA-213
  anagrafica/models.py
  anagrafica/permessi/persona.py
  anagrafica/profile/__init__.py
  anagrafica/profile/menu.py
  anagrafica/profile/views.py
  anagrafica/templates/anagrafica_profilo.html
  anagrafica/urls/profilo.py
  anagrafica/viste.py
Labels: app: anagrafica

#885 Formazione
  anagrafica/forms.py
  anagrafica/models.py
  anagrafica/viste.py
  base/static/js/formazione/formazione.js
  curriculum/views.py
  formazione/forms.py
  formazione/models.py
  formazione/templates/formazione.html
  formazione/templates/formazione_osserva_corsi.html
  formazione/templates/pdf_corso_esame_verbale.html
  formazione/urls/formazione.py
  formazione/viste.py
  jorvik/urls.py
Labels: app: formazione

#887 Passaggio in produzione
  anagrafica/forms.py
  anagrafica/models.py
  anagrafica/permessi/persona.py
  anagrafica/profile/__init__.py
  anagrafica/profile/menu.py
  anagrafica/profile/views.py
  anagrafica/templates/anagrafica_profilo.html
  anagrafica/templatetags/utils.py
  anagrafica/urls/profilo.py
  anagrafica/viste.py
  base/static/js/formazione/formazione.js
  curriculum/views.py
  formazione/forms.py
  formazione/models.py
  formazione/templates/formazione.html
  formazione/templates/formazione_osserva_corsi.html
  formazione/templates/pdf_corso_esame_verbale.html
  formazione/urls/formazione.py
  formazione/viste.py
  jorvik/urls.py
  posta/templatetags/utils_posta.py
  ufficio_soci/elenchi.py
  ufficio_soci/templates/us_elenchi_inc_tesserini_da_richiedere.html
Labels: Passaggio in produzione

#888 fix query trasferiti
  ufficio_soci/elenchi.py
Labels: app: ufficio_soci

#890 GAIA-213
  anagrafica/models.py
  anagrafica/profile/menu.py
  anagrafica/profile/views.py
  base/templatetags/base_tags.py
  formazione/elenchi.py
  formazione/forms.py
  formazione/templates/pdf_corso_esame_verbale.html
  ufficio_soci/elenchi.py
  ufficio_soci/templates/us_elenchi_inc_persone.html
Labels: app: formazione

#891 GAIA-227
  formazione/models.py
Labels: app: formazione

#892 Passaggio in produzione
  anagrafica/models.py
  anagrafica/profile/menu.py
  anagrafica/profile/views.py
  base/templatetags/base_tags.py
  formazione/elenchi.py
  formazione/forms.py
  formazione/models.py
  formazione/templates/pdf_corso_esame_verbale.html
  ufficio_soci/elenchi.py
  ufficio_soci/templates/us_elenchi_inc_persone.html
Labels: Passaggio in produzione
